<div id='acc-update-infor' class="row">
  <div class="clearfix">
    <div class="form-one">
      <form method="POST" action="/checkout/step1">
        <div class='form-group'>
          {{#if fullname}}
            <p class='text-danger'>{{fullname}}</p>
          {{/if}}
          <label>Họ tên người nhận * </label>
          <input name="fullname" type="text" value="{{user._fullname}}">
        </div>
        <div class='form-group'>
          {{#if phone}}
          <p class='text-danger'>{{phone}}</p>
          {{/if}}
          <label for="inputPhone">Số điện thoại *</label>
          <input name="phone" type="text" value="{{user._phone}}"> 
        </div>
        <div class='form-group'>
          {{#if address}}
          <p class='text-danger'>{{address}}</p>
          {{/if}}
          <label for="inputAddress1">Địa chỉ người nhận</label>
          <input name="address" type="text" value="{{user._address}}">
        </div>
        <button id='btn-saveInformation' type="submit" class='btn btn-primary'>Bước tiếp theo</button>
      </form>
    </div>
    <div class="form-two">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tạm tính</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
            <tr>
              <td>{{this.item._name}}</td>
              <td>{{this.item._price}}</td>
              <td>{{this.qty}}</td>
              <td>{{this.price}}</td>
            </tr>
            {{/each}}
            <tr>
              <td><b>Tổng cộng</b></td>
              <td></td>
              <td>{{this.totalQty}}</td>
              <td>{{this.totalPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>