<div class="recommended_items">
  <h2 class="title text-center">Sản phẩm cùng loại</h2>

  <div id="recm-same-catelogies-item" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        {{#each product.sameType.first}}
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="/{{_link}}" alt="" />
                <h2>{{_price}} đ</h2>
                <p>{{_name}}</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="item">
        {{#each product.sameType.second}}
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="/{{_link}}" alt="" />
                <h2>{{_price}} đ</h2>
                <p>{{_name}}</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
      <a class="left recommended-item-control" href="#recm-same-catelogies-item" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="right recommended-item-control" href="#recm-same-catelogies-item" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
  </div>
</div>